/*

!hms-frontend
hms-frontend/*
!hms-frontend/public/
!hms-frontend/src/
!hms-frontend/index.html
!hms-frontend/eslint.config.js
!hms-frontend/package.json
!hms-frontend/package-lock.json
!hms-frontend/tsconfig.app.json
!hms-frontend/tsconfig.json
!hms-frontend/tsconfig.node.json
!hms-frontend/vite.config.ts


!hms-backend
hms-backend/*
!hms-backend/config/
!hms-backend/pom.xml
!hms-backend/src/

!hms-database
hms-database/*
!hms-database/ddl.sql
!hms-database/dml.sql

!.gitignore